# Visual Studio 缓存文件
.vs/
*.suo
*.user
*.sln.docstates

# 编译输出目录
bin/
obj/

# VS Code 配置（可选，如果你不想共享这些）
.vscode/

# 临时文件
*.tmp
*.log
CODEc/test.exe
CODEc/project.exe
CODEc/test2.exe
CODEpython/.vscode/launch.json
CODEc/test3.exe
CODEc/.vscode/launch.json
CODEpython/.vscode/launch.json
CODEc/test5.exe
CODEc/jishu.exe
