# Visual Studio 缓存文件
.vs/
*.suo
*.user
*.sln.docstates

# 编译输出目录
bin/
obj/

# VS Code 配置（可选，如果你不想共享这些）
.vscode/

# 临时文件
*.tmp
*.log
CODEc/test.exe
CODEc/project.exe
CODEc/test2.exe
CODEpython/.vscode/launch.json
CODEc/test3.exe
CODEc/.vscode/launch.json
CODEpython/.vscode/launch.json
CODEc/test5.exe
CODEc/jishu.exe
CODEc/ceshi.exe
CODEc/define.exe
CODEc/define2.exe
CODEc/maopao.exe
WinFormsApp1/.vs/WinFormsApp1.slnx/DesignTimeBuild/.dtbcache.v2
WinFormsApp1/.vs/WinFormsApp1.slnx/DesignTimeBuild/.dtbcache.v2
WinFormsApp1/.vs/WinFormsApp1.slnx/DesignTimeBuild/.dtbcache.v2
WinFormsApp1/.vs/WinFormsApp1.slnx/DesignTimeBuild/.dtbcache.v2
WinFormsApp1/.vs/WinFormsApp1.slnx/DesignTimeBuild/.dtbcache.v2
WinFormsApp1/WinFormsApp1/obj/Debug/net8.0-windows/refint/WinFormsApp1.dll
WinFormsApp1/WinFormsApp1/obj/Debug/net8.0-windows/ref/WinFormsApp1.dll
WinFormsApp1/WinFormsApp1/obj/Debug/net8.0-windows/ref/WinFormsApp1.dll
WinFormsApp1/WinFormsApp1/obj/Debug/net8.0-windows/WinFormsApp1.csproj.FileListAbsolute.txt
WinFormsApp1/WinFormsApp1/obj/Debug/net8.0-windows/WinFormsApp1.assets.cache
WinFormsApp1/WinFormsApp1/obj/Debug/net8.0-windows/WinFormsApp1.assets.cache
WinFormsApp1/WinFormsApp1/obj/Debug/net8.0-windows/apphost.exe
WinFormsApp1/WinFormsApp1/obj/Debug/net8.0-windows/WinFormsApp1.GeneratedMSBuildEditorConfig.editorconfig
WinFormsApp1/WinFormsApp1/obj/Debug/net8.0-windows/ref/WinFormsApp1.dll
